<!--The content below is only a placeholder and can be replaced.-->
<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>

<div style="text-align:center">
  <img width="300" alt="odprz Logo" src="https://i.imgur.com/FlfwMMi.png">
  <h1>
    Visor de Reportes Web con DevExpress y Angular
  </h1>
  
</div>

<div style="width:100%; height:100%">
  <report-viewer [reportUrl]="reportUrl"></report-viewer>
</div>
