<script
  src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
  integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
  crossorigin="anonymous"></script>
  
<div #scripts></div>
<div #control style="width:100%; height: 1000px">
  <div data-bind="dxReportViewer: $data"></div>
</div>
